<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Isabelle de Kerchove de Denterghem">

    <title>Ysaflo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/screen.css" media="screen">
  </head>
  <body>
    <header>
      <h1><a href="/">Ysaflo</a></h1>
      <nav id="menu">
        {% for link in site.data.navigation -%}
          {%- assign active = nil -%}
          {%- if page.url == link.url -%}
            {%- assign active = "active" -%}
          {%- endif -%}
        <a class="{{ active }}" href="{{ link.url }}">{{ link.text | smartify }}</a>
        {% endfor -%}
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>
