---
layout: default
---

<style>
  main { display: flex; flex-direction: column; align-items: center; }
  img { max-height: 500px; margin-bottom: 50px; }
</style>

<img src="/pics/{{ page.img }}">

<section>
  <p>{{ page.desc }}</p>
  <p>Dimensions (H×L): {{ page.height }}cm × {{ page.width }}cm</p>

  <div class="action">
    {% if page.available -%}
      <a href="mailto:contact@ysaflo.fr" class="btn">Interessé par ce tableau ?<br>Contacter l'artiste</a>
    {% else -%}
      <span class="btn disabled">Ce tableau n'est plus disponible</span>
    {% endif -%}
  </div>
</section>
